:root {
  --border-radius-curves: 4px;
  --dark-gray: #232323;
  --light-gray: #dfdfdf;
  --lavendar: #e6e6fa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: calc(100vw - 40px);
  background-color: var(--light-gray);
}

.header {
  background-color: var(--lavendar);
  border-radius: var(--border-radius-curves);
  margin-bottom: 5px;
}

.content {
  background-color: var(--light-gray);
  border-radius: var(--border-radius-curves);
  margin-top: 5px;
}

form {
  display: flex;
  height: 35px;
  margin: 2px;
}

.inputText {
  flex: 4;
  margin: 1px;
  border-radius: var(--border-radius-curves);
  border-color: black;
  background-color: var(--light-gray);
}

.submitButton {
  margin-left: 1px;
  border-radius: var(--border-radius-curves);
  background-color: var(--lavendar);
}

.HabitTable {
  display: grid;
  grid-template-columns: repeat(7, minmax(75px, 1fr));
}

.Habit {
  display: flex;
  background-color: var(--lavendar);
  border: 2px solid black;
  margin: 4px;
  padding: 10px;
  border-radius: var(--border-radius-curves);
}
